// Variables
$white: #fff;
$lightWhite: #F6F6F6;
$black: #1E1E1E;
$bodyBg: #FFF6E9;
$pink: #F7E5CC;
$pinkLight: #E9E9E9;
$pinkDark: #A3D4D9;
$pinkDark1: #C19375;
$lightBrown: #F7E2C4;
$mudBrown: #AE8540;
$mudBrown2: #A57E3D;
$brown: #402717;
$darkBrown: #26201B;
$darkBrown1: #7F5D41;
$lightBrown: #7B6A58;
$lightGreen: #DDE2C7;
$darkGreen: #4E552C;
$darkGreen2: #494C21;
$darkGreen3: #414141;
$lightBlue: #4D678C;
$lightYellow: #418266;
$yellow: #1A352C;
$brightYellow: #224136;
$brightYellow1: #DE8C11;
$orange: #EF7B27;
$red: #E91D1D;
$success: #28a745;
$danger: #dc3545;